body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/WhatsApp Image 2022-01-12 at 22.19.21.jpeg");
  color: #000;
}

table{
  color: #10143a;
  position: center;
  border:#000 solid 3px;
  background-color:#fff;
  font-size: 50px;

}

div{
  color: #10143a;
}

h1{
  font-size: 70px;
}




